/* Autthor: Jasmin Mousavi
Text Adventure Project */
body{
  background-image: url("https://media.giphy.com/media/3o7TKLKOW04lOHagqk/giphy.gif");
}
#bottom{
  position: absolute;
      bottom:0px;
      left: 10px
}
.right{
  position: fixed;
  right: 10px;
  top: 10px;
}

#ex3 {
 width: 730px;
 height: 133px;
 line-height: 0px;
 color: transparent;
 font-size: 50px;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
 text-transform: uppercase;
 -webkit-transition: all 0.5s ease;
}

#ex3:hover {
 line-height: 133px;
 color: #f2f2f2;
}

#ex3 img{
 float: left;
 margin: 0 15px;
}
#ex2 {
 width: 730px;
 height: 133px;
 line-height: 0px;
 color: transparent;
 font-size: 50px;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
 text-transform: uppercase;
 -webkit-transition: all 0.5s ease;
}

#ex2:hover {
 line-height: 133px;
 color: #f2f2f2;
}

#ex2 img{
 float: left;
 margin: 0 15px;
}

#ex1 {
 width: 300px;
 height: 133px;
 line-height: 0px;
 color: transparent;
 font-size: 50px;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
 text-transform: uppercase;
 -webkit-transition: all 0.5s ease;

}

#ex1:hover {
 line-height: 133px;
 color: #f2f2f2;
}

#ex1 img{
 float: right;
 margin: 0 15px;
}
div.transbox {
    margin: 30px;
    background-color: rgba(192, 192, 192, 0.7);
    border: 1px solid black;
    position: absolute;
    left: -32px;
    top: 30%;
    width: 100%;
    text-align: center;

}
.opac{
    opacity: 1.0;

}
div.transbox p{
    margin: 5%;
    font-weight: bold;
    color: #0d0d0d;
    text-align: center;

}
p{
  font-size: 15px;
  color: #0d0d0d;
}
a:link{
  color:#0d0d0d;
  text-decoration: none;
}
a:visited{
  color: #0d0d0d;
  text-decoration: none;
}
h1{
  font-size: 40px;
  color: #0d0d0d;
}
div{
  font-size: 15px;
  color: #0d0d0d;
  font-weight: bold;
}
